body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: relative;
    z-index: 2;
}
header .Logout-btn
{
  margin-right: 80px;
}

.Logout-btn {
    background-color: #ff3333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px; /* Add margin bottom to space out the boxes */
}
.main h2 {
    margin: 0 0 10px;
}
.main:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.electiondetails {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  